[user]
	name = 
	email = 
[push]
	default = simple
[alias]
	a = add -A
	b = branch
	c = commit -m
	cp = cherry-pick
	d = diff
	go = checkout
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	s = status
	l = log --graph --all
	pl = pull
	ps = push
